$color-primary: #ffffff;
$color-grey-dark: #818387;
$color-grey-dark-2: #4f5155;
$color-grey-light: #B7B8B9;
$color-djca-pink: #D84465;

$color-djca-blue: #161C26;

$color-white-1: #ffffff;
$color-black-1: #000000;

$shadow-1: 0 1.5rem 4rem rgba(black, 0.3);
$shadow-2: 0 1.5rem 4rem rgba(black, 0.3);
$shadow-3: 0 0 5rem rgba(black, 0.8);

$default-font-size: 2rem;

//Grid
$grid-width: 180rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 2rem;

//Grid-Settings
$grid-width-set: 120rem;
$gutter-vertical-set: 2rem;
$gutter-vertical-small-set: 2rem;
$gutter-horizontal-set: 2rem;
