.float-left {
    float: left;
}

.float-right {
    float: right;
}

.justify {
    text-align: justify;
}

.absLeft {
    position: absolute;
    left: 0;
}

.red {
    background-color: red;
    width: 80rem;
    height: 80rem;
}

.margin-left0 {
    margin-left: 0!important;
}

.margin-top-small {
    margin-top: 2rem !important;
}

.margin-top-large {
    margin-top: 5rem !important;
}

.margin-bottom-0 {
    margin-bottom: 0rem !important;
}

.margin-bottom-small {
    margin-bottom: 2rem !important;
}

.text-right {
    text-align: right;
}

.nbsp{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}